.fcontainer {
    border: 2px solid green;
    height: 600px;
    display: flex;
    /* flex-direction: row; */
/* flex-direction: column-reverse; */
/* flex-direction: row-reverse; */
/* justify-content: center; */
/* justify-content: flex-end; */
/* align-items: center; */
/* flex-wrap: wrap;
flex-flow: column wrap;
 */

}

.fitem {
    background-color: rgba(255, 0, 0, 0.28);
    border: 2px solid black;
    margin: 10px;
    width: 100px;
    height: 100px;

}

.item1 {
align-self: center;

}

#five{
flex-grow: 2;

}