/* universal selector */
<style>
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
</style>

*{
    margin: 0;
    padding: 0;
    font-family: 'Macondo', cursive;
    background-color: bisque;
}

.container{

    position: relative;
    border: 3px solid purple;
    color: red;
    top: 50px;
    bottom: 50px;
    left: 50px;
}

.container2{

    position: absolute;
    border: 3px solid green;
    color: cornflowerblue;
    top: 150px;
    bottom: 150px;
    left: 50px;
}